<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:x="http://www.goumang.com/config">
  <segment
    name="httpMethod">
    <setting
      name="httpServicePort"
      value="5120" />
    <setting
      name="disableHttpsValidation"
      value="true" />
  </segment>
  <segment>
    <!--是否为中心平台模式-->
    <setting
      name="CenterModel">false</setting>
    <!--中心平台需要填写边缘接口服务器地址-->
    <setting
      name="EdgeInterfaceServerAddress"></setting>
  </segment>
  <segment
    name="logConfig">
    <setting
      name="logFileSize">5120</setting>
    <setting
      name="logDirectory"></setting>
    <setting
      name="acceptCatalogs">Error:*;|Warning:*;|Info:*;|BusinessOperation:*;|Debuging:*;|</setting>
    <setting
      name="enableUdpLog">True</setting>
    <setting
      name="udpLogListenPort">8864</setting>
    <setting
      name="LogFileMaxSize">200</setting>
    <setting
      name="LogFileLeftSize">0.6</setting>
  </segment>
  <object
    x:name="DataBaseConfigs"
    x:type="GM.Orm.Db.DataBaseConfigs, GM.Orm, Version=7.0.0.1559, Culture=neutral, PublicKeyToken=null"
    default="mysql">
    <x:item
      x:type="GM.Orm.Db.DBContextBridge, GM.Orm, Version=7.0.0.1559, Culture=neutral, PublicKeyToken=null"
      dbname="mysql"
      connectionstring="server=10.130.36.187;database=iptv_data_zff;uid=zhangff;password=gmuser;max pool size=20;"
      provider="mysql" />
  </object>
</configuration>