<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:x="http://www.goumang.com/config">
  <!--<segment>
    --><!--中继服务器Ip--><!--
    <setting name="LrsServerIp">127.0.0.1</setting>
    --><!--分页列表数量--><!--
    <setting name="PageSize">5</setting>
    --><!--配置iesip 加 时移端口 格式 http://127.0.0.1:20418--><!--
    <setting name="RRIPPort">http://127.0.0.1:20418</setting>
	 <setting name="IsCretePhysicalChannel">false</setting>
  </segment>-->

  <segment>
    <!--分页列表数量-->
    <setting name="PageSize">5</setting>
    <setting name="IsCretePhysicalChannel">false</setting>
    <setting name="DomainName">www.redcdn.cn</setting>
    <setting name="MeetingApiUrl">http://192.168.12.140:8090/MeetingManage/callService</setting>
    <setting name="MeetingUserName">admin</setting>
    <setting name="MeetingUserPwd">admin</setting>
    <setting name="RecordFileTypes">mp4</setting>
    <setting name="StreamOutputTypes">flv,hls</setting>
  </segment>
  
  <!--<object
   x:name="DataBaseConfigs"
   x:type="GM.Orm.Db.DataBaseConfigs, GM.Orm, Version=6.0.3.5, Culture=neutral, PublicKeyToken=null"
   default="mysql">
    <x:item
      x:type="GM.Orm.Db.DBContextBridge, GM.Orm, Version=6.0.3.5, Culture=neutral, PublicKeyToken=null"
      dbname="mysql"
      connectionstring="Server=192.168.12.140;Database=classroom;Uid=root;Pwd=gmuser;Max Pool Size=10"
      provider="mysql" />
  </object>-->
  <object
   x:name="DataBaseConfigs"
   x:type="GM.Orm.Db.DataBaseConfigs, GM.Orm, Version=6.0.3.5, Culture=neutral, PublicKeyToken=null"
   default="mysql">
    <x:item
      x:type="GM.Orm.Db.DBContextBridge, GM.Orm, Version=6.0.3.5, Culture=neutral, PublicKeyToken=null"
      dbname="mysql"
      connectionstring="Server=172.16.250.204;Database=classroom;Uid=root;Pwd=stjy;Max Pool Size=10"
      provider="mysql" />
  </object>
</configuration>
